@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-background text-[#fff];
}

.container {
  @apply mx-auto flex w-full max-w-[1280px] flex-col px-10 md:px-5 sm:px-4;
}

input,
select,
textarea {
  @apply outline-none placeholder:text-textDescription bg-componentBackground;
}

#nprogress .bar {
  @apply top-0 left-0 h-[2.5px] z-[9999] w-full fixed bg-primary;
}

::-webkit-scrollbar {
  height: 8px;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(73, 73, 73, 0.6);
  border: 3px solid rgb(19, 19, 19);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(110, 110, 110, 0.6);
}

::-webkit-scrollbar-track {
  @apply bg-background;
}
